.container{
    width: 60%;
    margin: auto;
    background-color: rgb(139, 216, 162);
}

.container1{
    margin-top: 0;
    width: 70%;
    margin: auto;
}

body{
    background-color: rgb(107, 190, 107);
}

.container-fluid{
    width: 100%;
}

#dt{
    text-align: center;
}

#fr{
    text-align: center;
    width: 100%;
    margin: auto;
}

.botones{
    margin-left: 20%;
    margin-right: 20%;
}
